.day {
    box-sizing: border-box;
    border: 1px solid lightcyan;
    border-radius: 5px;
    background-color: rgb(225, 225, 250);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 150px;
    height: 250px;
    padding: 1.5em 0;
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    box-sizing: inherit;
    width: 100%;
    text-align: left;
    padding: 0 10%;
}

.day h2 {
    font-size: 1rem;
}

