.meal {
    box-sizing: border-box;
    width: 120px;
    height: 175px;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
    box-shadow: 1px 3px 10px #1f1f1f;
    background-color: #fafafa;
    color: #1f1f1f;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0;
    }

    .prepTime, h5, h6, p {
        margin: 0;
    }

    h5 {
        font-weight: 300;
        font-size: 1rem;
        padding: 5px;
    }

    h6 {
        font-weight: 500;
        font-size: .7rem;
        padding-bottom: .25em;
        color: #1f1f1f;
    }

    p {
        font-size: .7rem;
    }

    .delete-button {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #fafafa99;
        color: #1f1f1f;
        padding: 5px;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        cursor: pointer;
    }

    .delete-button:hover,
    .delete-button:focus {
        background-color: #fafafa;
        color: #1f1f1f;
    }

}