.meal {
    border: 2px solid lightblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 120px;
    height: 175px;
    color: #03353f;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fafafa;
    
}

.imgContainer {
    height: 40%;
    overflow: hidden;

}

.imgContainer img {
    height: 100%;
    width: auto;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 3px;
}

.prepTime {
    margin: 0;
}

.meal h3, h4, p {
    margin: 0;
}

.meal h3 {
    font-weight: 300;
    font-size: 1rem;
    padding: 5px;
}

.meal h4 {
    font-weight: 500;
    font-size: .7rem;
    padding-bottom: .25em;
    color: #485a5eb7;
}

.meal p {
    font-size: .7rem;
}