.meal {
    box-sizing: border-box;
    width: 120px;
    height: 175px;
    border: 2px solid #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color: #fafafa;
    color: #1f1f1f;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0;
    }

    .prepTime, h5, h6, p {
        margin: 0;
    }

    h5 {
        font-weight: 300;
        font-size: 1rem;
        padding: 5px;
    }

    h6 {
        font-weight: 500;
        font-size: .7rem;
        padding-bottom: .25em;
        color: #1f1f1f;
    }

    p {
        font-size: .7rem;
    }

}